@import url(https://fonts.google.com/specimen/Outfit);

* {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  margin: auto;
  font-size: 15px;
  text-align: center;
}

.container {
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  width: 20vw;
  height: auto;
}

.container img {
  width: 100%;
  border-radius: 10px;
}

.container h1 {
  font-size: 1.5em;
  padding: 0;
  line-height: 1.25;
}
.container p {
  color: hsl(220, 15%, 55%);
  font-size: 1.1em;
  line-height: 1.25;
  padding: 5px;
}

.attribution {
  vertical-align: text-bottom;
}

a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  body {
    padding-top: 19%;
    padding-bottom: 5%;
  }
  .container {
    width: 90%;
    height: 90%;
  }

  p {
    font-size: 20px;
  }
}
